<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--将页面转为动态的视图-->
<head>
    <meta content="text/html">
    <meta charset="UTF-8">
    <title>themeleat模板引擎学习</title>
    <link th:href="@{index.css}" rel="stylesheet"><!--通过@{}引用据说容易出错在jsp-->
    <style>
        #table td{width: 200px;height: 40px}
        #table tr td:nth-child(2){color: black;background-color: olivedrab;}
        .sdiv{margin: auto;margin-top: 20px}
    </style>
</head>
<body>
<h1>欢迎回来首页</h1>
    <div id="dTable">
        <span th:text="${singlePerson.name}"></span>
        <span>接收得到集合数据</span><br>
        <caption><strong>表格：学生数据表<strong></caption>
        <table id="table" cellspacing="0" border="1em">
            <tr><th>姓名</th><th>年龄</th></tr>
            <tr th:each="person:${personList}">
                <td th:text="${person.name}"></td>
                <td th:text="${person.age}"></td>
                <button class="btn" th:onclick="'getName()'" >获得名字</button>
            </tr>
        </table>
    </div>
<div class="sdiv">
    <button class="btn" th:onclick="'getName()'" >获得名字</button>
</div>
<h1><a href="/stu/student">查看所有学生信息</a></h1>

</body>
</html>