<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--将页面转为动态的视图-->
<head>
    <meta content="text/html">
    <meta charset="UTF-8">
    <title>学生信息</title>
    <style>
        .div1 table tr td {width: 100px;background-color: cadetblue;font-family: 楷体;font-size: 14;font-style: 700;}
        .index>span {
            background-color: antiquewhite;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 10px;
            border-radius: 6px;
        }
        .index>span:hover {
            background-color: cornflowerblue;
        }
    </style>
    <script>
        function returnIndex() {
            window.location.href="/index";
        }
    </script>
</head>

<body>
<div class="index">
    <span th:onclick="'returnIndex()'">返回首页</span>
</div>
<h1>学生信息操作</h1>
<div class="div1" th:if="${not #lists.isEmpty(stuList)}">
    <table cellspacing="0" border="1">
        <tr><th>序号</th><th>姓名</th><th>年龄</th><th>地址</th></tr>
        <tr th:each="stu:${stuList}">
            <td>1++</td>
            <td th:text="${stu.name}"></td>
            <td th:text="${stu.age}"></td>
            <td th:text="${stu.address}"></td>
            <td><a href="/stu/modefiyStuInfo">修改信息</a></td>
        </tr>
    </table>
</div>
</body>
</html>